<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hash Equivalence Server Self Management</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        {% if "permissions" in user %}
        <div>
            You currently have the following permissions:
            <ul>
            {% for perm in user["permissions"]|sort %}
                <li><span class="perm">{{ perm }}</span></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div>
            <p>
                Your login token is:
            </p>
            <p>
                <span class="token">{{ user["token"] }}</span>
            </p>
            <p>
                Please copy this now as you will be unable to retrieve it once you leave this page.
            </p>
        </div>

        <div class="nav">
            Click <a href="./">here</a> to go back.
        </div>
    </body>
</html>

