<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/bootstrap-5.3.2-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./static/common.css"/>
        <title>Hash Equivalence Server Database Management</title>
        <script src="./static/common.js"></script>
        <script>
            function on_remove_unused_entries_click() {
                db_remove_unused_entries(function (data) {
                    if ("error" in data) {
                        live_alert("danger", data["error"]);
                    } else {
                        live_alert("success", `Removed ${data['count']} entries`);
                        update_db_usage();
                    }
                });
            }

            function on_remove_entries_click() {
                let where = Object.create(null);
                let e;

                {% for col in query_columns %}
                e = document.getElementById("remove-{{ col }}");
                if (e.value) {
                    where["{{ col }}"] = e.value;
                }
                {% endfor %}


                db_remove_entries(where, function (data) {
                    if ("error" in data) {
                        live_alert("danger", data["error"]);
                    } else {
                        live_alert("success", `Removed ${data['count']} entries`);
                        update_db_usage();
                    }
                });
            }


            function update_db_usage() {
                db_get_usage(function (data) {
                    if ("error" in data) {
                        live_alert("danger", data["error"]);
                        return;
                    }

                    let table_names = Object.keys(data.usage).sort();

                    const table = document.getElementById("database-table");
                    let tbody = document.createElement("tbody");

                    for (let idx in table_names) {
                        const name = table_names[idx];
                        const table = data.usage[name];
                        let row = tbody.insertRow();

                        row.insertCell().innerHTML = escapeHTML(name);
                        row.insertCell().innerHTML = escapeHTML(table.rows);
                    }

                    table.replaceChild(tbody, table.tBodies[0]);
                });
            }
        </script>
    </head>
    <body onload='update_db_usage()'>
        {% include "nav-bar.html.j2" %}
        <div class="container">
            <h1>Database Administration</h1>
        </div>
        <div class="container">
            <h3>Database usage</h3>
            <table class="table" id="database-table">
                <thead>
                    <tr>
                        <th>Table name</th>
                        <th>Rows</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="container">
            <h3>Clean unused database entries</h3>
            <div class="input-group mb-3">
                <span class="input-group-text">Older than</span>
                <input class="form-control" type="number" id="unused-age" value="0"/>
                <select id="unused-age-scale" class="form-select">
                    <option value="1">Seconds</option>
                    <option value="60">Minutes</option>
                    <option value="3600">Hours</option>
                    <option value="86400">Days</option>
                    <option value="604800">Weeks</option>
                    <option value="2628000">Months</option>
                    <option value="31536000">Years</option>
                </select>
                <button class="btn btn-outline-primary" onclick='on_remove_unused_entries_click()'>Remove</button>
            </div>
        </div>
        <div class="container">
            <h3>Remove matching entries</h3>
        </div>
        <div class="container">
            {% for col in query_columns %}
            <div class="mb-3 row">
                <div class="col">
                    {{ col }}
                </div>
                <div class="col">
                    <input class="form-control" type="text" id="remove-{{ col }}"/></td>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="container">
            <button class="btn btn-outline-primary" onclick='on_remove_entries_click()'>Remove</button>
        </div>
        <div class="container">
            <div id="liveAlertPlaceholder"></div>
        </div>
        <script src="./static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    </body>
</html>


