<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hash Equivalence Server Self Management</title>
    </head>
    <body>
        <h1>ERROR: {{ message }}</h1>
        {{ detail }}
    </body>
</html>

