<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/bootstrap-5.3.2-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./static/common.css"/>
        <title>Hash Equivalence Server Self Management</title>
        <script src="./static/common.js"></script>
        <script>
            function show_token_alert(token) {
                live_alert("success", [
                    '<p>New token is:</p>',
                    `<p><span class="token">${escapeHTML(token)}</span></p>`,
                    '<p>Please copy this now as you will be unable to retrieve it once you leave this page.</p>',
                ].join(""));
            }
            function on_reset_click() {
                user_reset_token("{{ user["username"] }}", function (data) {
                    if ("error" in data) {
                        live_alert("danger", data["error"]);
                        return;
                    }

                    show_token_alert(data.token);
                });
            }


            function on_load() {
                {% if 'token' in user %}
                    show_token_alert('{{ user["token"] }}');
                {% endif %}
            }
        </script>
    </head>
    <body onload="on_load()">
        {% include "nav-bar.html.j2" %}
        <div class="container">
            <h1>Welcome <span class="username">{{ user["username"] }}</span></h1>
        </div>
        {% include "user-perm-list.html.j2" %}
        <div class="container">
            <button class="btn btn-warning" onclick="on_reset_click()">Reset Login Token</button>
        </div>
        <div class="container">
            <div id="liveAlertPlaceholder"></div>
        </div>
        <script src="./static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    </body>
</html>
