<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/bootstrap-5.3.2-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./static/common.css"/>
        <title>Hash Equivalence Server Self Management</title>
        <script src="./static/common.js"></script>
        <script>
            function show_token_alert(token) {
                live_alert("success", [
                    '<p>New token is:</p>',
                    `<p><span class="token">${escapeHTML(token)}</span></p>`,
                    '<p>Please copy this now as you will be unable to retrieve it once you leave this page.</p>',
                ].join(""));
            }

            function on_reset_click() {
                user_reset_token("{{ user["username"] }}", function (data) {
                    if ("error" in data) {
                        live_alert("danger", data["error"]);
                        return;
                    }

                    show_token_alert(data.token);
                });
            }

            function on_delete_account_click() {
                user_delete("{{ user["username"] }}", function (data) {
                    if ("error" in data) {
                        live_alert("danger", data["error"]);
                        return;
                    }

                    location.reload();
                });
            }

            function on_load() {
                {% if 'token' in user %}
                    show_token_alert('{{ user["token"] }}');
                {% endif %}
            }
        </script>
    </head>
    <body onload="on_load()">
        {% include "nav-bar.html.j2" %}
        <div class="container">
            <h1>Welcome <span class="username">{{ user["username"] }}</span></h1>
        </div>
        {% include "user-perm-list.html.j2" %}
        <div class="container">
            <button
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#resetTokenConfirmModal"
            >Reset Login Token</button>
            <button
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteAccountConfirmModal"
            >Delete Account</button>
        </div>
        <div class="container">
            <div id="liveAlertPlaceholder"></div>
        </div>

        <!-- Reset Token confirmation Dialog -->
        <div class="modal fade" id="resetTokenConfirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Confirm Token Reset</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to reset your login token?</p>
                        <p>This action cannot be undone</p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal"
                        >Cancel</button>

                        <button
                            type="button"
                            class="btn btn-warning"
                            data-bs-dismiss="modal"
                            onclick="on_reset_click()"
                        >Reset Token</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Account confirmation Dialog -->
        <div class="modal fade" id="deleteAccountConfirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Confirm Account Deletion</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete your account?</p>
                        {% if self_reg_enabled %}
                            <p>All account information will be erased and you will need to re-register your account</p>
                            <p><b>You may loose permissions if you do this</b></p>
                        {% else %}
                            <p>You will be unable to register this account again and will need an admin to create one for you</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal"
                        >Cancel</button>

                        <button
                            type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal"
                            onclick="on_delete_account_click()"
                        >Delete Account</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="./static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    </body>
</html>
