<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hash Equivalence Server Self Management</title>
        <link rel="stylesheet" href="./static/common.css" />
    </head>
    <body>
        <h1>Welcome <span class="username">{{ username }}</span></h1>
        <div>
            You currently have the following permissions:
            <ul>
            {% for perm in permissions %}
                <li><span class="perm">{{ perm }}</span></li>
            {% endfor %}
            </ul>
        </div>
        <div>
            To reset your login token, click <a href="reset">here</a>
        </div>
        {% if "@read" in permissions %}
        <div class="nav">
            <a href="stats">Usage Statistics</a>
        </div>
        {% endif %}
        {% if "@user-admin" in permissions %}
        <div class="nav">
            <a href="users">User Administration</a>
        </div>
        {% endif %}
        {% if "@db-admin" in permissions %}
        <div class="nav">
            <a href="database">Database Administration</a>
        </div>
        {% endif %}
    </body>
</html>
