<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/bootstrap-5.3.2-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./static/common.css"/>
        <title>Hash Equivalence Server Usage Statistics</title>
        <script src="./static/common.js"></script>
        <script>
            function on_reset_stats_click() {
                stats_reset(function (data) {
                    if ("error" in data) {
                        window.alert(data["error"]);
                    }
                    location.reload();
                });
            }

        </script>
    </head>
    <body>
        {% include "nav-bar.html.j2" %}
        <div class="container">
            <h1>Usage Statistics</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Record</th>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for row in info %}
                    <tr>
                        <td>{{ row["name"] }}</td>
                    {% for col in columns %}
                        <td>{% if col in row %}{{ row[col] }}{% endif %}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if "@db-admin" in user["permissions"] %}
        <div class="container">
            <button class="btn btn-primary" onclick='on_reset_stats_click()'>Reset Statistics</button>
        </div>
        {% endif %}
        <script src="./static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    </body>
</html>

